version: 2.1

executors:
  android:
    docker:
      - image: cimg/android:2023.08  # Image Android basée sur Alpine
    environment:
      JAVA_HOME: /usr/lib/jvm/java-17-openjdk
      PATH: "/usr/lib/jvm/java-17-openjdk/bin:$PATH"
    working_directory: ~/project

jobs:
  setup-environment:
    executor: android
    steps:
      - run:
          name: Install SSH Client
          command: |
            apk update
            apk add openssh-client
      - run:
          name: Add GitHub to known_hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: Test SSH Connection
          command: ssh -T git@github.com
      - checkout  # Cloner le dépôt via SSH

  build-and-test:
    executor: android
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - run:
          name: Set Gradle Permissions
          command: chmod +x ./gradlew
      - run:
          name: Install Dependencies
          command: ./gradlew dependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
      - run:
          name: Run Unit Tests
          command: ./gradlew testDebugUnitTest
      - run:
          name: Run Lint
          command: ./gradlew lint
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_test_results:
          path: app/build/test-results

workflows:
  version: 2
  build-and-test-workflow:
    jobs:
      - setup-environment
      - build-and-test:
          requires:
            - setup-environment
